.contact_area {
  padding-top: 1em;
  display: grid;
  place-content: center;
  justify-content: center;
}

.contact_area h2,
h3,
h4 {
  color: #222;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.contact_area h2 {
  font-size: 2em;
  font-weight: bold;
}

.contact_area p {
  color: #7b7b7b;
}

.contact_span {
  padding-top: 1em;
}

.contact_span p span {
  display: flex;
  color: #7b7b7b;
  font-size: 1.2em;
  font-weight: bold;
}
