.container {
  width: 1200px;
  display: flex;
  justify-content: space-between; /* espaça os elementos de forma igual durante a linha horizontal*/
  margin: 0 auto; /* centraliza o conteudo */
  flex-wrap: wrap; /* quando os elementos filhos ultrapassarem a largura de 1200 eles vao pra baixo criando uma nova linha */
}

.min_height {
  min-height: 75vh;
}

.start {
  justify-content: flex-start; /* coloca os conteudos pro inicio */ /* diversos conceitos daqui vou APRENDER MELHOR EM FLEXBLOX */
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
